.hidden{
    display: none;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    background: url('경로/이미지파일.jpg') no-repeat center center fixed; 
    background-size: cover;
}

#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#clock {
    position: absolute;
    top: calc(50% - 50px); /* 로그인 폼 위에 위치하도록 조절 */
    left: 50%;
    transform: translateX(-50%);
}

#quote {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    background-color: #333;
    color: #fff;
    width: 80%;
    text-align: center;
}

#weather {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
}

#formTodo ,#lstTodo {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
}